body {
    margin: 0;
    text-align: center;
    font-family: "Faculty Glyphic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

img {
    width: 500px;
    border-radius: 25px;
}

.hero {
    height: 60vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: 50% 51%;
    background-image: url("images/Bethlehem_star.jpg") role="img" aria-label="A landscape view overlooking a valley with the Bethlehem star lit upon the crest of a hill in the horizon.";
    padding: 10px 0 40px 0;
    color: white;
}

h1 {
    text-align: center;
    padding: 200px 0 10px 0px;
    text-shadow: 0px 0px 8px black;
}

h2 {
    padding: 6px 12px;
    background-color: rgba(130, 165, 202, 0.2);
    border: none;
    font-weight: 200;
    font-size: larger;
}

h3 {
    text-align: center;
}

.activities-section {
    background-color: #D39F27;
    padding: 10px 0 40px 0;
}

.activities-img {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 20px 20px 0px;
    p {
        width:500px;
    }
}

.guide {
    color: #FF3349;
    text-shadow: 0px 0px 8px black;
    width: 800px;
    margin: 50px auto;
    padding: 0px 30px 0px 0;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background: #2B2829;
    border-bottom: 6px solid #FF3349;
    img {
        width: 300px;
    }
    p {
        color: blanchedalmond;
        width: 300px;
        font-style: italic;
    }
}
